input.ng-invalid {
    border-color: red;
    border-width: 1px;
}
input {

    margin-bottom: 4px;
}

textarea.ng-invalid {
    border-color: red;
}

.blogPost{
    border-style: solid;
    border-width: 1px;
    width: 300px;
    padding: 5px;
    margin: 2px 2px 8px 2px;
}

.blogTitle{
    font-weight: bold;
    float: left;
    word-break: break-all;
}

.blogContent{
    text-align: left;
    max-width: 280px;
    overflow-x: hidden !important;
    background-color: blue;
}

pre {
    display: flex;
    white-space: normal;
    word-break: break-all;
}

.blogName{
    font: italic 12px/30px Georgia, serif;
    float: right;
}