<!DOCTYPE html>
<html ng-app="mainapp" ng-controller="mainCtrl">

<head>
  <title>Write a blogpost!</title>
  <meta charset="UTF-8">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
  <script src="https://www.gstatic.com/firebasejs/3.6.4/firebase.js"></script>
  <script src="script.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css"></link>
  <link rel="stylesheet" href="site.css"></link>
</head>

<body>
  <button ng-controller="logOutCtrl" ng-click="logOut()">LogOut</button>
  <div ng-controller="inputCtrl">
    <form name="newPostForm">
      Title:
      <br>
      <input ng-model="title" required type="text" name="title" />
      <br> Content:
      <br>
      <textarea ng-model="content" required rows="4" cols="40" name="content"></textarea>
      <br> Name:
      <br>
      <input ng-model="name" required type="text" name="name" />
      <br>
      <button id="submit" ng-click="createPost(title+content+name)" ng-disabled="newPostForm.$invalid">Submit Post</button>
    </form>
  </div>
</body>

</html>